@font-face {
    font-family:"ibm-dos-vga";
    src:url("../font/ibm-dos-vga-9x16.ttf") format("truetype");
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
.nav li {
    float: left;
}
  
.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.nav li a:hover {
    background-color: #111;
}

.login_container {
    text-align: center;
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
}

.button {
    background-color:#444444;
    border:none;
    color:white;
    padding:15px 32px;
    text-align:center;
    text-decoration:none;
    display:inline-block;
    font-size:16px;
    margin:4px 2px;
    cursor:pointer;
    font-family:"ibm-dos-vga";
  }

body {
    background-color:black;
    color:white;
    padding-left:5%;
    padding-right:5%;
    padding-top:10px;
    padding-bottom:10px
}

body h1 {
    font-size:50px;
    font-family:"ibm-dos-vga";
}

body h2 {
    font-size:30px;
    font-family:"ibm-dos-vga";
}

body h3 {
    font-size:25px;
    font-family:"ibm-dos-vga";
}

body li {
    font-size:20px;
    font-family:"ibm-dos-vga";
}

body p {
    font-size:20px;
    font-family:"ibm-dos-vga";
    line-height:1.5;
}

code {
    white-space:pre;
    font-size:15px;
}

body label {
    font-size:20px;
    font-family:"ibm-dos-vga";
}

body input {
    font-size:20px;
    font-family:"ibm-dos-vga";
    line-height:1.5;
}

body img {
    width:350px;
    padding-top:10px;
    padding-bottom:10px;
    height: auto;
    display:block;
}

main_content .entry_field {
    font-size:20px;
    font-family:"ibm-dos-vga";
    padding-top:10px;
    padding-bottom:10px;
}

main_content .btn {
    font-size:20px;
    font-family:"ibm-dos-vga";
    padding-top:10px;
    padding-bottom:10px;
}

main_content .msg {
    font-size:20px;
    font-family:"ibm-dos-vga";
    padding-top:10px;
    padding-bottom:10px;
}

body a {
    color:darkcyan;
    text-decoration: none;
}

.center {
    text-align: center;
}

.right {
    text-align:right;
}

/*.header {
    display:inline-flex;
    background-color: #444444;
    padding: 20px 10px;
    color:white;
    padding: 12px;
    font-size:25px;
    line-height: 25px;
    border-radius: 4px;
    font-family:"ibm-dos-vga";
}*/

.header {
    overflow: hidden;
    background-color: #444444;
  }

.header_title {
    float: center;
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 40px;
    line-height: 25px;
    border-radius: 4px;
    font-family:"ibm-dos-vga";
  }

.header_btns {
    float: left;
    color: #FFFFFF;
    text-align:center;
    padding: 20px;
    text-decoration: none;
    font-size: 40px;
    line-height: 80px;
    border-radius: 4px;
    font-family:"ibm-dos-vga";
  }